.my-special-animation.ng-enter {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;

  background: red;
  opacity: 0;

  &.ng-enter-active {
    background: blue;
    opacity: 1;
  }
}

.my-special-animation.ng-leave {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;

  background: green;
  opacity: 1;

  &.ng-leave-active {
    background: #ffff00;
    opacity: 0;
  }
}

.danger {

  background: red;

}

.danger.danger-add, .danger-remove {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;

  &.danger-add-active {

    background: deeppink;
  }

  &.danger-remove-active {
    background: darkgray;
  }
}

.panel {
  &.ng-hide.ng-hide-add, &.ng-hide-remove {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
    display: block !important;
  }

  &.ng-hide.ng-hide-add {
    opacity: 1;
    &.ng-hide-add-active {
      opacity: 0;
    }
  }

  &.ng-hide-remove {
    opacity: 0;
    &.ng-hide-remove-active {
      opacity: 1;
    }
  }
}


