.my-special-animation.ng-enter {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;

  background: red;
  opacity: 0;

  &.ng-enter-active {
    background: blue;
    opacity: 1;
  }
}

.my-special-animation.ng-leave {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;

  background: green;
  opacity: 1;

  &.ng-leave-active {
    background: #ffff00;
    opacity: 0;
  }
}

.danger {

  background: red;

}

.danger.danger-add, .danger-remove {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;

  &.danger-add-active {

    background: deeppink;
  }

  &.danger-remove-active {
    background: darkgray;
  }
}

.panel {
  &.ng-hide.ng-hide-add, &.ng-hide-remove {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    display: block !important;
    position: absolute;
    right: 15px;
    left: 15px;
  }

  &.ng-hide.ng-hide-add {
    opacity: 1;
    &.ng-hide-add-active {
      opacity: 0;
    }
  }

  &.ng-hide-remove {
    opacity: 0;
    &.ng-hide-remove-active {
      opacity: 1;
    }
  }
}

.panel.special {
  background: orange;
  &.special-add {
    -webkit-animation: 0.5s red-to-blue;
    animation: 0.5s red-to-blue;
  }
}

.panel.special-remove {
  -webkit-animation: 0.5s blue-to-red;
  animation: 0.5s blue-to-red;
}

@keyframes red-to-blue {
  from {
    background: red;
  }
  to {
    background: blue;
  }
}

@-webkit-keyframes red-to-blue {
  from {
    background: red;
  }
  to {
    background: blue;
  }
}

@keyframes blue-to-red {
  from {
    background: blue;
  }
  to {
    background: red;
  }
}

@-webkit-keyframes blue-to-red {
  from {
    background: blue;
  }
  to {
    background: red;
  }
}

.test-repeater {
  &.ng-enter, &.ng-leave, &.ng-move {
    -webkit-transition: .5s linear all;
    transition: .5s linear all;
    position: relative;
  }

  &.ng-enter {
    left: -10px;
    opacity: 0;
    &.ng-enter-active {
      left: 0;
      opacity: 1;
    }
  }

  &.ng-leave {
    left: 0;
    opacity: 1;
    &.ng-leave-active {
      left: -10px;
      opacity: 0;
    }
  }

  &.ng-move {
    opacity: 0.5;
    left: 20px;
    &.ng-move-active {
      opacity: 1;
      left: 5px;
    }
  }
}

.test-repeater-animation {

  &.ng-enter, &.ng-leave, &.ng-move {
    position: relative;
  }

  &.ng-enter {
    -webkit-animation: 0.5s repeat-animation-enter;
    animation: 0.5s repeat-animation-enter;
  }

  &.ng-leave {
    -webkit-animation: 0.5s repeat-animation-leave;
    animation: 0.5s repeat-animation-leave;
  }

  &.ng-move {
    -webkit-animation: 0.5s repeat-animation-move;
    animation: 0.5s repeat-animation-move;
  }
}

@keyframes repeat-animation-enter {
  from {
    left: -10px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes repeat-animation-enter {
  from {
    left: -10px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes repeat-animation-leave {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -10px;
    opacity: 0;
  }
}

@-webkit-keyframes repeat-animation-leave {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -10px;
    opacity: 0;
  }
}

@keyframes repeat-animation-move {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes repeat-animation-move {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.custom-container {
  position: relative;
}

.slide-transition {

  &.ng-enter, &.ng-leave {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
  }

  &.ng-enter {
    z-index: 100;
    top: 100px;
    opacity: 0;
    &.ng-enter-active {
      top: 0;
      opacity: 1;
    }
  }

  &.ng-leave {
    z-index: 101;
    top: 0;
    opacity: 1;
    &.ng-leave-active {
      top: -100px;
      opacity: 0;
    }
  }
}

.slide-animation {
  &.ng-enter, &.ng-leave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
  }
  &.ng-enter {
    -webkit-animation: 0.5s slide-animation-enter;
    animation: 0.5s slide-animation-enter;
  }
  &.ng-leave {
    -webkit-animation: 0.5s slide-animation-leave;
    animation: 0.5s slide-animation-leave;
  }
}

@keyframes slide-animation-enter {
  from {
    z-index: 100;
    top: 100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slide-animation-enter {
  from {
    z-index: 100;
    top: 100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes slide-animation-leave {
  from {
    z-index: 101;
    top: 0;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}

@-webkit-keyframes slide-animation-leave {
  from {
    z-index: 101;
    top: 0;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}

.switch-container {
  position: relative;
  height: 100px;
}

.switch-transition {
  &.ng-enter, &.ng-leave {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    //  height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

  }

}

.switch-transition.ng-enter {
  left: 100%;
  opacity: 0;
  &.ng-enter-active {
    left: 0;
    opacity: 1;
  }
}

.switch-transition.ng-leave {
  left: 0;
  opacity: 1;
  &.ng-leave-active {
    left: -100%;
    opacity: 0;
  }
}

.switch-animation {
  &.ng-enter, &.ng-leave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &.ng-enter {
    -webkit-animation: 0.5s switch-enter;
    animation: 0.5s switch-enter;
  }

  &.ng-leave {
    -webkit-animation: 0.5s switch-leave;
    animation: 0.5s switch-leave;
  }
}

@keyframes switch-enter {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes switch-enter {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes switch-leave {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100%;
    opacity: 0;
  }
}

@-webkit-keyframes switch-leave {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100%;
    opacity: 0;
  }
}