<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="/modernizr/modernizr.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
</head>
<body>
<div class="row">
    <h1>Playing with Animations in AngularJS</h1>
    <hr>
    <div ng-controller="mainCtrl">
        <button class="small button radius">Toggle On/Off</button>
        <div class="my-special-animation" ng-if="on">
            This content will enter and leave
        </div>
    </div>
</div>

<script src="/jquery/dist/jquery.js"></script>
<script src="/foundation/js/foundation.min.js"></script>
<script src="/angular/angular.min.js"></script>
<script src="/angular-animate/angular-animate.js"></script>
<script src="/javascripts/app.js"></script>
</body>
</html>