<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="/modernizr/modernizr.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
</head>
<body>
<div class="row">
    <h1>Playing with Animations in AngularJS</h1>
    <hr>
    <div ng-controller="mainCtrl">
        <div class="row">
            <div class="medium-6 columns">
                <button class="small button radius" ng-click="toggle()">Toggle On/Off</button>
                <b>&nbsp;ng-if</b>

                <div class="my-special-animation" ng-if="on">
                    This content will enter and leave
                </div>
            </div>
            <div class="medium-6 columns">
                <button class="small button radius" ng-click="toggleDanger()">Toggle Danger</button>
                <b>&nbsp;ng-class</b>

                <div class="panel radius" ng-class="{danger: danger}">This is your last warning</div>
            </div>
        </div>

        <div class="row">
            <div class="medium-6 columns">
                <button class="small button radius" ng-click="toggleShow()">Toggle Show</button>
                <b>&nbsp;ng-show</b>

                <div class="panel radius" ng-show="show">This is your final warning</div>
                <div class="panel radius" ng-hide="show" style="background: salmon;">I'll let you off this time</div>
            </div>
            <div class="medium-6 columns">
                <button class="small button radius" ng-click="toggleSpecial()">Toggle Show</button>
                <b>&nbsp;ng-class keyframe animation</b>

                <div class="panel radius" ng-class="{special: special}">This is your special warning</div>
            </div>
        </div>

        <div class="row">
            <div class="medium-6 columns">
                <button class="small button radius" ng-click="toggleCustom()">Toggle Custom</button>
                <b>&nbsp;ng-class custom js animation</b>

                <div class="panel radius" ng-class="{'custom-animation': custom}">I enjoy my morning coffee.</div>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="small-12 columns">
                <h3>ng-repeat</h3>
            </div>
            <div class="medium-4 columns">
                <h4>css-transitions</h4>
                <input type="text" placeholder="Filter repeat items" ng-model="f"/>

                <div class="test-repeater" ng-repeat="item in items | filter: f track by item">
                    {{item}}
                </div>
            </div>

            <div class="medium-4 columns">
                <h4>css-animations</h4>
                <input type="text" placeholder="Filter repeat items" ng-model="f2"/>

                <div class="test-repeater-animation" ng-repeat="item in items | filter: f2 track by item">
                    {{item}}
                </div>
            </div>

            <div class="medium-4 columns">
                <h4>js-animations</h4>
                <input type="text" placeholder="Filter repeat items" ng-model="f3"/>

                <div class="test-repeater-custom" ng-repeat="item in items | filter: f3 track by item">
                    {{item}}
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="small-12 columns">
                <h3>ng-show animations</h3>
            </div>
        </div>
        <div class="row">
            <div class="medium-4 columns">
                <h4>css transitions</h4>
                <a href="" ng-click="choice='one'" class="tiny button">One</a>
                <a href="" ng-click="choice='two'" class="tiny button">Two</a>
                <a href="" ng-click="choice='three'" class="tiny button">Three</a>

                <div class="custom-container">
                    <div ng-include="choice" class="slide-transition"></div>
                </div>
            </div>
            <div class="medium-4 columns">
                <h4>css animations</h4>
                <a href="" ng-click="choice2='one'" class="tiny button">One</a>
                <a href="" ng-click="choice2='two'" class="tiny button">Two</a>
                <a href="" ng-click="choice2='three'" class="tiny button">Three</a>

                <div class="custom-container">
                    <div ng-include="choice2" class="slide-animation"></div>
                </div>
            </div>

            <div class="medium-4 columns">
                <h4>js animations</h4>
                <a href="" ng-click="choice3='one'" class="tiny button">One</a>
                <a href="" ng-click="choice3='two'" class="tiny button">Two</a>
                <a href="" ng-click="choice3='three'" class="tiny button">Three</a>

                <div class="custom-container">
                    <div ng-include="choice3" class="slide-custom"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <h3>ng-switch animations</h3>
            </div>
        </div>

        <div class="row">
            <div ng-init="switch='one'" class="medium-4 columns">
                <h4>css transitions</h4>
                <a class="tiny button" href="" ng-click="switch='one'">One</a>
                <a class="tiny button" href="" ng-click="switch='two'">Two</a>
                <a class="tiny button" href="" ng-click="switch='three'">Three</a>

                <div class="switch-container" ng-switch="switch">
                    <div ng-switch-when="one" class="panel switch-transition">One</div>
                    <div ng-switch-when="two" class="panel switch-transition">Two</div>
                    <div ng-switch-when="three" class="panel switch-transition">Three</div>
                </div>
            </div>
            <div class="medium-4 columns">
                <h4>css animations</h4>
                <a class="tiny button" href="" ng-click="switch='one'">One</a>
                <a class="tiny button" href="" ng-click="switch='two'">Two</a>
                <a class="tiny button" href="" ng-click="switch='three'">Three</a>

                <div class="switch-container" ng-switch="switch">
                    <div ng-switch-when="one" class="panel switch-animation">One</div>
                    <div ng-switch-when="two" class="panel switch-animation">Two</div>
                    <div ng-switch-when="three" class="panel switch-animation">Three</div>
                </div>
            </div>
            <div class="medium-4 columns">
                <h4>js animations</h4>
                <a class="tiny button" href="" ng-click="switch='one'">One</a>
                <a class="tiny button" href="" ng-click="switch='two'">Two</a>
                <a class="tiny button" href="" ng-click="switch='three'">Three</a>

                <div class="switch-container" ng-switch="switch">
                    <div ng-switch-when="one" class="panel switch-custom">One</div>
                    <div ng-switch-when="two" class="panel switch-custom">Two</div>
                    <div ng-switch-when="three" class="panel switch-custom">Three</div>
                </div>
            </div>
        </div>

        <script type="text/ng-template" id="one">
            <div class="panel">one</div>
        </script>
        <script type="text/ng-template" id="two">
            <div class="panel">two</div>
        </script>
        <script type="text/ng-template" id="three">
            <div class="panel">three</div>
        </script>


        <script src="/jquery/dist/jquery.js"></script>
        <script src="/foundation/js/foundation.min.js"></script>
        <script src="/angular/angular.js"></script>
        <script src="/angular-animate/angular-animate.js"></script>
        <script src="/javascripts/app.js"></script>
</body>
</html>